span {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    position: fixed;
    font-size: 25px;
    background-color: rgba(0,0,0,0.5);
    color: #969696;
    opacity: 1;
    display: block;
    cursor: pointer;
    width: 120px;
    margin-left: 2px;
    text-align: center;
}

    span:hover {
        color: #f1f1f1;
    }


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 20px;
        text-decoration: none;
        font-size: 25px;
        color: #969696;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#realMain {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*Estilo Do Background*/
title {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

html, body {
    height: 100%;
}

body {
    background: #b9bfff;
}

p {
    margin-left: 50px;
}

#svg {
    height: 90vh;
    margin-top: 50px;
	margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#gscanAnimation {
    height: 65vh;
    margin-top: 0px;
	margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 100px;
}

#top, #bottom, #left, #right {
    background: rgb(34, 39, 122);
    opacity: 0.5;
    position: fixed;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 10px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 10px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

h1 {
    background: rgba(34, 39, 122, 0.50);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 500px;
	margin-bottom: 100px;
}

#comecar {
	background-color: #4066e0; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
}

#comecar:hover {
	background-color: #22277a; 
	color: white;
}

.ponto {
    stroke: #22277a;
    stroke-width: 4px;
    fill: #4066e0;
    cursor: grab;
}

.p0 {
	fill: red;
}

.curve {
	stroke: black;
	fill: black;
	opacity: 0.4;
}

#poligono {
    stroke: #22277a;
    stroke-width: 10px;
    fill: #8b74bd;
    fill-opacity: 0.25;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	border-radius: 5px;
	height: 20px; /* Specified height */
	background: #4066e0; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

#slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: ;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  /* border-radius: 50%; */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.texto {
    fill: black;
    font-family: serif;
    font-weight: bold;
    font-size: 16px;
}

